@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "IRANSansDNFaNum Bold";
    src: url("../fonts/d2322f037e261c0c62cd48f56cd4a55f.eot");
    src: url("../fonts/d2322f037e261c0c62cd48f56cd4a55f.eot?#iefix")format("embedded-opentype"),
        url("../fonts/d2322f037e261c0c62cd48f56cd4a55f.woff")format("woff"),
        url("../fonts/d2322f037e261c0c62cd48f56cd4a55f.woff2")format("woff2"),
        url("../fonts/d2322f037e261c0c62cd48f56cd4a55f.ttf")format("truetype"),
        url("../fonts/d2322f037e261c0c62cd48f56cd4a55f.svg#IRANSansDNFaNum Bold")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}
@font-face {
    font-family: Kalameh;
    src: url("../fonts/KalamehFaNum-Regular.ttf");
  }
  @font-face {
    font-family: KalamehMed;
    src: url("../fonts/KalamehFaNum-Medium.ttf");
  }
  @font-face {
    font-family: YekanBakh;
    src: url("../fonts/YekanBakhFaNum-Regular.ttf");
  }
  @font-face {
    font-family: YekanBakhExtraBold;
    src: url("../fonts/YekanBakhFaNum-ExtraBold.ttf");
  }
  @font-face {
    font-family: Morabba;
    src: url("../fonts/Morabba-Bold.ttf");
  }
  #ellipsis_main_1 {

    position: absolute;
    width: 728px;
    height: 728px;
    left: 1128px;
    top: -182px;
    background: rgba(26, 147, 254, 0.05);
    filter: blur(150px);
    z-index: -1;

  }
  #topology_main_1{
  /* Topology-1 */

    position: absolute;
    width: 723.43px;
    height: 706.53px;
    left: 1419px;
    /* top: -358px; */
    opacity: 0.13;

  }
 

  #section_3_frame{
    background: linear-gradient(92.82deg, rgba(4, 138, 255, 0.06) 2.35%, rgba(51, 2, 153, 0.06) 79.26%);

  }
  .gallery_shadow{
    background: linear-gradient(0deg, rgba(26, 147, 254, 0.13), rgba(26, 147, 254, 0.13)),
linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

  }
  .gallery_shadow2{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));


  }

  button[aria-current='true']{
    background: black !important;
    width: 25px;

  }

  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer_container{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

  }

  .footer_content_bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2; /* Adjust the opacity as needed */
    z-index: -1; /* Place the pseudo-element behind the content */
}  

@media  (min-width: 1250px) {
  .footer_content_bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/2a326ee3fab310d9dfe22ca175d7674b.png') center center / cover no-repeat;
    opacity: 0.2; /* Adjust the opacity as needed */
    z-index: -1; /* Place the pseudo-element behind the content */
}
#main-shadow{
  filter:  drop-shadow(0px 84px 115.9px rgba(4, 138, 255, 0.12));
 }

}
#mega-menu ul li{
  position: relative;
}
#mega-menu ul li a{
  margin-left: 10px;
}
#mega-menu ul li{
  position: relative;
}
#mega-menu ul li::after{
  content: "";
  position: absolute;
  width: 1px;
  height: 15px;
  border: 1px solid #0000000A;
  top: 12px;
  left: 0;
  margin-right: 2px;
}
.swiper-button-disabled svg{
  opacity: .15;
}

.swiper-overflow-container {
  overflow-x: hidden; /* prevent horizontal scroll */
}

.swiper-overflow-container .container {
  overflow: visible; /* if your container has overflow by default */
}

.swiper-overflow-container .swiper-container {
  overflow: visible; /* remove swiper container overflow */
}
/* Initial inactive state */
#feature_list.flex-col li {
    opacity: 0.5;
}

#feature_list.flex-col li .item {
    width: 2px;
    background-color: transparent;
}

/* Active state */
#feature_list.flex-col li.active {
    opacity: 1;
}

#feature_list.flex-col li.active .item {
    width: 3px;
    background-color: #1A93FE; /* Use the actual primary color code */
}

/* Hover state */
#feature_list.flex-col li:hover {
    opacity: 1;
}

#feature_list.flex-col li:hover .item {
    width: 3px;
    background-color: #1A93FE; /* Use the actual primary color code */
}
#mega-menu-dropdown:before {
  content: "";
  position: absolute;
  /* left: 221px; */
  top: -39px;
  height: 49px;
  width: 44px;
  background: #0000;
  right: 136px;
  z-index: 10;
  border: 9px solid rgba(249, 249, 249,0.8);
  border-top: 0;
  border-left: 0;
  border-radius: 0 0 24px 0;
}
#mega-menu-dropdown:after {
  content: "";
  position: absolute;
  right: 0;
  top: -20px;
  width: 139px;
  height: 20px;
  background: #f9f9f9bf;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.55;
}
.dot.active {
  width: 7px;
  height: 23px;
  opacity: 1;
  border-radius: 17px;
}
#main_carousel_dots {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50px;
  align-items: center;
}